/* Common Css End */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

img {
  vertical-align: middle;
}

/* Common Css End */

/* Banner Area Start */
#banner {
  align-items: center;
  display: flex;
  height: 100vh;
}
.banner-wrapper {
  background: #27374d;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.banner-inner--left h3 {
  font-family: "Grandiflora One";
  font-size: 60px;
  font-weight: bold;
  text-transform: capitalize;
  padding-right: 40px;
  line-height: 70px;
  color: aliceblue;
}

.banner-inner--left p {
  font-family: "Roboto";
  margin: 30px 0;
  color: aliceblue;
  font-weight: 300;
}

.banner-inner-left--button a {
  padding: 10px 25px;
  background: #1c1f24;
  font-family: "Montserrat";
  color: aliceblue;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.banner-inner-left--button a i {
  margin-left: 8px;
  line-height: 20px;
  padding-top: 10px;
}

.banner-inner--right img {
  animation-name: slideIn;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes slideIn {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  50% {
    transform: translateX(25%);
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    -o-transform: translateX(25%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Banner Area End */

/* Matches Area Start */
#matches {
  margin: 10px 0 70px 0;
}

.matches-button {
  background: #d2e9e9;
  text-align: center;
  padding: 20px 40px;
  margin-right: 15px;
  height: 100%;
}

.matches-button a {
  display: block;
  padding: 10px 60px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #526d82;
  color: #000;
  margin: 4px 0;
  font-family: "Montserrat";
  font-size: 17px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.matches-card {
  margin-bottom: 30px;
}

.matches-card img {
  width: 267px;
  height: 151px;
  margin-bottom: 20px;
  width: 100%;
}

.matches-card a {
  border: thin solid #27374d;
  color: #27374d;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
  padding: 5px 15px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.matches-card a:hover {
  background-color: #27374d;
  color: aliceblue;
  border: thin solid transparent;
}

.matches-card p {
  color: #27374d;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.2;
  margin: 20px 0;
  padding-right: 10px;
}

.matches-inner {
  display: flex;
}

.matches-inner h5 {
  font-size: 14px;
  margin-left: 5px;
  font-family: "Montserrat";
}
/* Matches Area End */

/* Footer Area Start */
footer {
  background: #000;
  padding: 40px 0;
}
.footer-heading {
  font-family: "Roboto";
  color: aliceblue;
  font-weight: 400;
  position: relative;
}

.footer-heading::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -40px;
  height: 2px;
  width: 100%;
  background-color: rgb(153, 155, 155);
}

.footer-links ul {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.footer-links ul li {
  margin: 0 17px;
}

.footer-links ul li a {
  color: aliceblue;
  font-family: "Roboto";
  font-weight: 300;
}

.footer-links ul li a:hover {
  color: #b6bec9;
}

.footer-logo ul {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.footer-logo ul li a {
  color: aliceblue;
  margin: 0 30px;
}

.footer-logo ul li a i {
  color: #cfcfcf;
  font-size: 20px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.footer-logo ul li a i:hover {
  color: #4942e4;
  transform: scale(2.4);
  -webkit-transform: scale(2.4);
  -moz-transform: scale(2.4);
  -ms-transform: scale(2.4);
  -o-transform: scale(2.4);
}

/* Footer Area End */
